body, html { 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; 
}

.contact-container {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Modificare: Pentru a face layout-ul responsive */
    height: 100%; /* Modificare: Înălțimea flexibilă */
    padding: 20px; /* Modificare: Spatiere intre elemente */
    margin-top: 10vh;
}

.contact-right, .contact-left {
    width: 100%; /* Modificare: Latime de 100% pentru a ocupa tot spatiul disponibil */
    padding: 10px;
}

.contact-title {
    font-size: 80px; /* Modificare: Reducerea dimensiunii titlului pentru dispozitive mici */
    font-weight: bold;
    margin-bottom: 50px; /* Modificare: Spatiere intre elemente */
}

.contact-info {
    font-size: 18px; /* Modificare: Reducerea dimensiunii fontului pentru dispozitive mici */
    margin-bottom: 10px; /* Modificare: Spatiere intre elemente */
}

.icon-contact i {
    padding: 20px; /* Modificare: Spatiere intre elemente */
    color: #745237;
    font-size: 30px;
    width: auto;
    max-width: 80px;
}

#map {
    width: 100%; /* Modificare: Latime de 100% pentru a ocupa tot spatiul disponibil */
    height: 300px; /* Modificare: Reducerea inaltimii harti pentru dispozitive mici */
}

@media screen and (min-width: 768px) {
    .contact-container {
        flex-direction: row; /* Modificare: Ajustare layout pentru ecrane mai mari */
        justify-content: space-between; /* Modificare: Spatiere intre elementele containerului */
        padding: 40px; /* Modificare: Spatiere intre elemente */
        margin-top: 20px;
            
    }

    .contact-right, .contact-left {
        width: 45%; /* Modificare: Latimea containerelor pentru ecrane mai mari */
    }

    #map {
        height: 400px; /* Modificare: Inaltime mai mare pentru harta pe ecrane mai mari */
    }
}

@media screen and (max-width: 768px) {
    .contact-title {
        font-size: 40px; /* sau orice altă dimensiune pe care doriți să o aveți pe dispozitivele mobile */
        text-align: center;
    }
}
