body, html { 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: auto; 
}   
/* Stilurile pentru container */
.container {
    width: 90%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* Stilurile pentru zona de hero */
.project-container-hero {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

/* Stilurile pentru partea stângă (titlu și text) */
.project-left-hero {
    text-align: center;  
}

.project-content {
    margin-bottom: 10px;
    margin-right: 0px;
}

.project-title-hero {
    font-size: 80px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.project-info-hero {
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    color: black;
    margin-bottom: 20px;
}

/* Stilurile pentru video */
.project-right-hero {
    text-align: center;
}

.project-right-hero-video {
    width: 100%;
    height: 400px; /* Setează o înălțime fixă pentru videoclip */
    object-fit: cover; /* Asigură că videoclipul este redimensionat pentru a se potrivi în cadrul iframe-ului */
}

.split-container {
    margin-top: 100px;
    display: flex;
    justify-content: center; /* Centrare orizontală a conținutului */
    align-items: center;
    position: relative; /* Setare poziție relativă pentru a poziționa iconurile SVG */
    padding-bottom: 50px;
    margin-bottom: 50px;
}        
.project-container {
    display: flex;
    flex-direction: column; /* Proiectele sunt afișate unul sub altul */    
    justify-content: center; /* Centrare verticală a conținutului */
    width: 50%; /* Lățimea secțiunii proiectului */
    margin-left: 20px; /* Margini între secțiuni */
    margin-right: 20px; /* Margini între secțiuni */
}
.project{
    background-color: white;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.project-right-hero-video {
    margin-top: 80px;
    display: flex; 
    align-items: center; 
    justify-content: left; 
    height: 100%;

}

.project-right {
    position: relative;
    padding-left: 15px; /* Ajustați spațiul pentru a lăsa loc pentru colț */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    right: -10px;

}

.project-right:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: -20px; /* Ajustați poziția colțului */
    border-style: solid;
    border-width: 10px; /* Dimensiunea colțului */
    border-color: transparent #ccc transparent transparent; /* Culori: stânga, dreapta, sus, jos */
    transform: rotate(180deg); /* Rotiți săgeata cu 180 de grade */
}
.project-right:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: -20px; /* Ajustați poziția colțului */
    border-style: solid;
    border-width: 10px; /* Dimensiunea colțului */
    border-color: transparent #ccc transparent transparent; /* Culori: stânga, dreapta, sus, jos */
    transform: rotate(180deg); /* Rotiți săgeata cu 180 de grade */
}


.project-left {
    position: relative;
    padding-left: 20px; /* Ajustați spațiul pentru a lăsa loc pentru colț */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    left: -5px;
    margin-top: 30px;
}

.project-left:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -20px; /* Ajustați poziția colțului */
    border-style: solid;
    border-width: 10px; /* Dimensiunea colțului */
    border-color: transparent #ccc transparent transparent; /* Culori: stânga, dreapta, sus, jos */
}


/* Stilurile pentru linia punctată verticală */
.dotted-line {
    height: 100%;
    width: 2px; /* Lățimea liniei punctate */
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%; /* Poziționare pe jumătatea lățimii containerului */
    transform: translateX(-50%); /* Centrare orizontală */
}

.svg-icon {
    position: absolute;
    top: 10%; /* Poziție verticală pe jumătatea înălțimii containerului */
    transform: translateY(-50%); /* Centrare verticală */
}

.icon1 {
    top: -0.2%; /* Ajustați valoarea top pentru prima icon SVG */
    color:  #745237;
    transform: translateY(-40%); /* Centrare verticală */
}

.icon2 {
    top: 24%; /* Ajustați valoarea top pentru a doua icon SVG */

}
.icon3 {
    top: 26%; /* Ajustați valoarea top pentru a doua icon SVG */

}
.icon4 {
    top: 3.5%; /* Ajustați valoarea top pentru a doua icon SVG */
    color: #000;
}
.icon5 {
    top: 48%; /* Ajustați valoarea top pentru a doua icon SVG */
}
.icon6 {
    top: 50%; /* Ajustați valoarea top pentru a doua icon SVG */
    /* color: green; */
}
.icon7 {
    top: 2%; /* Ajustați valoarea top pentru a doua icon SVG */

}
.icon8 {
    top: 76.5%; /* Ajustați valoarea top pentru a doua icon SVG */
    color: greenyellow;

}
.icon9 {
    top: 75%; /* Ajustați valoarea top pentru a doua icon SVG */

}
.col{
    padding: 15px;

}

@media only screen and (max-width: 600px) {
    body {
    overflow-x: hidden;
    }

    .project-container-hero {
        padding-bottom: 10px;
    }

    .project{
    padding: 10px;
    }
    .split-container{
    /* margin-top: 10vh; */
    width: 100%;
    }
    .project-container {
    margin-top: 5vh;
    width: 85%;
    transform: translateX(3%);
    }

    .project-right {
    padding-left: 10px;
    padding-right:10px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;

    }   

    .project-right:before {
    content: "";
    right: 100%; /* Ajustați poziția colțului */
    border-style: solid;
    border-width: 10px; /* Dimensiunea colțului */
    border-color: transparent #ccc transparent transparent; /* Culori: stânga, dreapta, sus, jos */
    transform: rotate(-360deg); /* Rotiți săgeata cu 180 de grade */
    }

    .project-right:after{
    display: none; 
    }

    .project-left {
    display: none;
    }

    .dotted-line {
    left: 6.5%; /* Centrare orizontală */
    transform: translateX(-50%);
    }

    .svg-icon {
    left: 2.5%;
    display: block;
    margin: 10px auto; /* Centrare pe orizontală */
    }

    .icon1 {
    top: -5px;
    }
    .icon2 {
    top: 550px;
    }
    .icon3 {
    display: none;
    }
    .icon4 {
    top: 70px;
    }
    .icon5 {
    display: none;
    }
    .icon6 {
    top: 1150px;
    }
    .icon7 {
    display: none;
    }
    .icon8 {
    top: 1820px;
    }
    .icon9 {
    display: none;
    }
}


/* Stiluri pentru slideshow */
.slideshow-container {
    font-size: 25px;
    position: relative;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.project-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto; /* Anulați înălțimea fixă pentru a permite redimensionarea automată */
}

.mobile-video {
    width: 90%; /* Ajustați lățimea videoclipului la 90% din lățimea containerului */
    height: 800px; /* Permiteți redimensionarea înălțimii videoclipului */
    margin-bottom: 20px; /* Adăugați spațiu între videoclipuri */
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    /* margin-top: -22px; */
    color: #745237;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color:white;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
}

/* Media query pentru dispozitivele mobile */
@media only screen and (min-width: 600px) {
    .project-content {
        margin-bottom: 30px;
        margin-right: 70px;
    }
    .project-container-hero {
        flex-direction: row;
        justify-content: center;
    }

    .project-left-hero {
        /* flex: 1; */
        padding-right: 20px;
        text-align: left;
    }

    .project-right-hero {
        /* flex: 1; */
        text-align: right;
        margin-top: 0px;
    }

    .project-right-hero-video {
        max-width: 640px;
    }
}

@media only screen and (max-width: 600px) {
    .project-right-hero-video iframe {
        width: auto; /* Ajustează înălțimea iframe-ului pentru dispozitivele mobile */
        height: 200px;
    }

    .mySlides {
        display: block; /* Afișați toate slide-urile pe dispozitivele mobile */
    }

    .project-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto; /* Anulați înălțimea fixă pentru a permite redimensionarea automată */
    }

    .mobile-video {
        width: 90%; /* Ajustați lățimea videoclipului la 90% din lățimea containerului */
        height: 250px; /* Permiteți redimensionarea înălțimii videoclipului */
        margin-bottom: 20px; /* Adăugați spațiu între videoclipuri */
    }

    .prev, .next {
        display: block; /* Faceți butoanele de navigare vizibile pe dispozitivele mobile */
        font-size: 20px; /* Reducerea dimensiunii textului pentru butoane */
        padding: 10px; /* Ajustați spațiul intern al butoanelor */
    }
}